body {
    font-family: 'Manrope', sans-serif; 
    font-size: 18px;
}
h1 {
    font-family: 'Rock Salt', cursive;
}
#navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100%;
}
#topMenu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 15px;
}
#topMenu p {
    padding: 10px;
    display: inline-block;
    color: black;
}
footer {
    background-color:#bec0ce;
}
#bottomMenu p {
    padding: 10px;
    display: inline-block;
    color: white;
}
.content{
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color:#bec0ce;
    border-radius: 50px;
    border: 3px solid black
}
.content img {
    padding: 25px;
}
.gap {
    padding: 10px;
}
button {
    border-radius: 10px;
    background-color: #CECCBE;
    font-size: 18px;
    padding: 5px;
}