.inline-block {
    display: inline-block;
    vertical-align: top;
    background-color: grey;
}
.logo {
    width: 23%;
    padding: 1%
}
.nav.inline-block {
    width: 73%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto;
}
p {
    width: 75%;
    margin-left: auto;
}
h1 {
    width: 75%;
    margin-left: auto;
}
.logo {
    text-align: center;
}
.heroImg {
    height: 600px;
    padding: 25px;
    text-align: center;
    background-color: grey;
}
.content{
    width: 500px;
    margin: 0 auto;
}
header {
    background-color: #373738;
}
footer {
    background-color: #373738;
}
footer ul {
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}
footer li {
    padding: 10px;
}
